<footer class="footer">
 <nav>
 <ul>
     <li>Highest Level Achieved: 80+</li>
     <li><a href="https://www.facebook.com/">Facebook</a></li>
     <li><a href="https://twitter.com/">Twitter</a></li>
     <li><a href="https://au.linkedin.com/">LinkedIn</a></li>
 </ul>
 </nav>
</footer>
